.sidebar-navbar {
  box-sizing: border-box !important;
  border: 2px solid red;
}

.nonselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


.title-bar {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000000;
  /* background-color: rgb(154, 240, 255); */
  background-color: #222629;
}

.logo {
  color: #F5F5F5;
}

.title {
  text-shadow: 1px 1px 1px #ffffff;
  padding-left: 10px;

}

/* MAKE TOP BAR DRAGGABLE FOR ELECTRON */
.drag {
  -webkit-user-select: none !important;
  -webkit-app-region: drag !important;
}
.no-drag {
  -webkit-app-region: no-drag !important;
}

.btn-top {
  color: #EFF0F1 !important;
}


.btn-top-grp {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
